@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject Client.Services.IServices.IChatService _ChatService
@*@implements IDisposable*@

<h2>Chat(TEST)</h2>
<small>@_ChatService.HubState()</small>
@if (_ChatService.IsConnected())
{
    <small>Your connection id: @_ChatService.ConnectionId</small>
}

<div class="form-group">
    <label for="name">Name</label>
    <input @bind="userInput" type="text" class="form-control" id="name" placeholder="name">
</div>
<div class="form-group">
    <label for="exampleCheck1">Message</label>
    <input @bind="messageInput" type="text" class="form-control" id="message">
</div>
<button @onclick="SendMessage" disabled="@(!_ChatService.IsConnected())" class="btn btn-primary">Send</button>

<ul id="messagesList">
    @foreach (var message in _ChatService.Messages)
    {
        <li>@message</li>
    }
</ul>



@code {
   
    private string userInput;
    private string messageInput;

    protected override void OnInitialized()
    {
        _ChatService.Reload_Messages_OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _ChatService.Reload_Messages_OnChange -= StateHasChanged;
    }

    private bool IsConnected()
    {
        return _ChatService.IsConnected();
    }

    private async Task SendMessage()
    {
        await _ChatService.SendMessage(userInput, messageInput);
    }
}
